* 
{ 
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header
{
    background-image: url(g.jpeg);
    /* height: 100vh; */
    height:140%;
    background-position: center;
    background-size: cover;

}
.hero-text
{
    top: 50%;
    left: 10%;
    position: center;
    transform: translate(-50% -50%);
    color: #000000;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h1{
    font-size: 60px;
    letter-spacing: 15px;
    
}

h2{
  font-size: 20px;
  text-align:center;
  
  
}
hr
{
    width: 70px;
    margin: 30px auto;
    margin: 1.5 solid #fff;

}

.fa
 {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  .fa-whatsapp {
    background: #33f104;
    color: white;
  }


  @media(max-width: 980){

    h1{
    
      font-size:4rem;
    }
    
    h2{
    
      font-size:4rem;
    }
    

    p{
    
      font-size:4rem;
     
    }

    a{
    
      font-size:4rem;
      
    }

    }

  